@import '../../../../../../resources/mixins';

.OrderWizard {
  &__StepsContentContainer {
    margin: 20px 0 0;
  }

  &__DateSelection {
    .ant-radio-button-wrapper-checked {
      background-color: $TripValet_Light;
      color: white;
    }

    &__AddOnDates {
      h2 {
        font-weight: bold;
        margin-bottom: 20px;
        font-size: 20px;
      }

      h3 {
        font-size: 18px;
        font-weight: bold;
        color: $TripValet_Light;
      }

      &__Header {
        font-size: 18px;
        font-weight: bold;
        color: $TripValet_Light;
      }

      &__ExtraPricing {
        font-weight: bold;
        color: $TripValet_Dark;
      }

      @media (max-width: $sm-max-width) {
        h2 {
          font-size: 18px;
        }
      }
    }

    &__TravelDatesHeadline {
      font-size: 24px;
      font-weight: bold;
      line-height: 32px;

      span {
        color: $TripValet_Light;
      }

      @media (max-width: $sm-max-width) {
        font-size: 18px;

        span {
          margin: 0;
        }
      }
    }

    &__TravelDates {
      font-weight: bold;
      color: $TripValet_Light;
    }

    &__Wrapper {
      margin: 20px 0 40px;
    }

    &__RadioNumberSpinner {
      margin: 10px 0;
    }
  }

  &__Guests {
    &__RoomShare {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      margin: 30px 20px;

      &__Question {
        display: flex;
        align-items: center;

        &__Text {
          font-weight: bold;
          line-height: 16px;
          font-size: 16px;
          position: relative;
          top: -2px;
          margin: 0 30px 0 10px;
        }
      }
    }

    @media (max-width: $sm-max-width) {
      &__RoomShare {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        margin: 0;

        &__Question {
          display: flex;
          align-items: center;
          margin: 10px 0;

          &__Text {
            font-weight: bold;
            line-height: 14px;
            font-size: 13px;
            position: relative;
            top: -5px;
            margin: 0 0 0 5px;
          }
        }
      }
    }

    &__Row {
      &:last-child {
        margin-top: 20px;
      }
    }

    &__OrderImage {
      width: 135px;
      margin: 0 0 15px;
    }
  }

  &__Excursions {
    border: solid 1px $gray;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    background-color: $white;
    margin: 20px 0;
    align-items: center;

    &__CheckoutReview {
      border: solid 1px $gray;
      border-radius: 10px;
      overflow: hidden;
      display: flex;
      background-color: $white;
      margin: 15px 0;
      align-items: center;
      flex-direction: column;

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 30px;
      }

      &__Image {
        width: 100%;
      }
    }

    &__Image {
      width: 356px;
      height: 200px;
      margin-right: 20px;
    }

    &__Selected {
      background-image: url(/resources/images/svgs/excusion-selected.svg);
      background-repeat: no-repeat;
      background-size: 150px 50px;
      background-position: right;
      height: 50px;
      flex: 1;
    }

    &__Wrapper {
      &__What {
        font-size: rem(16);
        font-weight: bold;
      }

      &__When {
        font-weight: bold;
      }

      &__Times {
        margin: 10px 15px;
      }

      &__Price {
        font-size: 14px;
        font-weight: bold;
        color: $TripValet_Light;
      }

      &__RadioTimes {
        display: flex;
        flex-direction: column;

        > .ant-radio-wrapper {
          margin: 2px 0;
        }
      }
    }
  }

  &__Payment {
    &__CheckoutReview {
      &__Header {
        font-weight: bold;
        font-size: 18px;
        text-align: center;
      }
      &__Title {
        font-weight: bold;
        font-size: 16px;
        color: $TripValet_Light;
      }
      &__Content {
        margin: 10px;
        margin-right: 0;

        &__Guest {
          margin-bottom: 10px;

          &:last-child {
            margin-bottom: 0;
          }
        }
        &__NoExcursions {
          font-weight: bold;
          font-size: 16px;
          padding: 10px;
          color: $TripValet_Dark;
        }

        &__Wrapper {
          padding: 10px;
          width: 100%;

          &__What {
            font-size: rem(16);
            font-weight: bold;
          }

          &__When {
            font-weight: bold;
          }

          &__Times {
            margin: 10px 15px;
            font-size: 12px;
          }

          &__Price {
            font-size: 14px;
            font-weight: bold;
            color: $TripValet_Light;
          }

          &__RadioTimes {
            display: flex;
            flex-direction: column;

            > .ant-radio-wrapper {
              margin: 2px 0;
            }
          }
        }
      }

      &__FlexColumn {
        border: solid 1px $gray;
        padding: 20px;
        background-color: $white;
        border-radius: 10px;
        margin: 5px;
        min-width: 250px;
        flex: 1;

        // &:last-child {
        //   margin-right: 0;
        // }
      }
    }

    &__PriceButtons {
      text-align: center;
      margin: auto;
    }

    &__PaymentSelector {
      &__Wrapper {
        margin: 20px 0;
        text-align: center;

        h4 {
          font-size: 18px;
          font-weight: bold;
          line-height: 32px;
        }

        h5 {
          font-size: 15px;
          line-height: 15px;
        }
      }
    }

    &__TermsButton {
      padding: 0 5px;
      line-height: 0px;
    }

    &__Completed {
      padding: 100px 0;
      color: $TripValet_Dark;
      font-size: 24px;
      font-weight: bold;
      text-align: center;
      border: solid 1px $gray-border;
      background-color: $white;
      border-radius: 10px;
    }

    &__PricingBreakdown {
      &__Title {
        font-weight: bold;
        color: $TripValet_Dark;
        font-size: 15px;
        line-height: 15px;
      }
    }
  }
  @media (max-width: $sm-max-width) {
    &__Steps {
      display: none !important;
    }

    &__StepsContentContainer {
      margin: 0;
    }

    &__Excursions {
      flex-direction: column;

      &__Image {
        width: 100%;
        margin: 0;
      }

      &__Wrapper {
        width: 100%;
        padding: 10px 15px;
      }
    }
  }
}
