.ant-card-head-title {
  font-weight: bold !important;
  text-align: center !important;
}
.ant-card-head {
  background-color: #eef0f4 !important;
}
.ant-card-body {
  text-align: center !important;
}
a {
  color: blue;
}
