.travellersWrapper {
  margin: 10px 0;
}

.ant-btn-sm {
  span {
    position: relative;
    top: 2px;
    font-weight: 700;
  }
  i {
    position: relative;
    top: -1px;
    font-weight: 700;
  }
}
